#root {
  max-width: 1280px;
  margin: 0 auto;
  text-align: center;
  color: #000000
}

.upload-button {
  padding: 16px;
}

.image-container {
  position: relative;
  /* display: inline-block; */
  display: inline-table;
  width: 400px;
  height: 400px;
}

.clothing-image {
  display: block;
  position: relative;
  z-index: 1;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.color-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 3;
  mix-blend-mode: multiply;
  pointer-events: none;
  opacity: 1;
  /* mask-image: url('./assets/top/sweetshirts.webp'); */
  mask-size: 100%;
}
